@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color :#fff;
}
body{
  background-color: #1c1c1c;
  overflow-x: hidden; /* Completely hides horizontal overflow */
  overflow-y: auto;
}
body::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Edge, Safari */
}

#tasklist::-webkit-scrollbar{
  display: none;
}
#adminTaskList::-webkit-scrollbar{
  display: none;
}